// Colors //
$white-color: #ffffff;
$primary-color: #141414;
$secondary-color: #ffb400;
$text-color: #444444;
$graylight-color: #9fa3a7;


// Background colors //
$yellowlight-color: #faf9f5;
$yellowlight-gray-color: #e9e9e9;